@model  Mooshak2_Hopur5.Models.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "ClosedAssignments";
}

<div class="col-md-12">
    <table class="table beigeTable">
        <caption><span class="glyphicon glyphicon-th-list"></span>Closed assignments</caption>
        @foreach (var assignment in Model.ClosedAssignmentList)
        {
            string assignmentName = assignment.AssignmentName + "  -  " + assignment.DueDate;
            <tr>
                <td>@Html.ActionLink(assignmentName, "ViewAssignment", "Assignment", new { id = assignment.AssignmentId }, null)</td>
                <td>@assignment.CourseName</td>
                <td>@assignment.DueDate</td>
            </tr>
        }
    </table>
</div>