@model  Mooshak2_Hopur5.Models.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "GetAllAssignments";
}
<div class="col-md-12">
    <table class="table assignmentTable m-60">
        <caption><span class="glyphicon glyphicon-th-list"></span>All assignments</caption>
        @foreach (var assignment in Model.AssignmentList)
        {
            <tr>
                <td>@Html.ActionLink(assignment.AssignmentName, "ViewAssignment", "Assignment", new { id = assignment.AssignmentId }, null)</td>
                <td>@Html.ActionLink(assignment.CourseName, "ViewCourse", "Course", new { id = assignment.CourseId }, null)</td>
                @if (assignment.DueDate.HasValue)
                {
                    <td>@assignment.DueDate.Value.ToString("d.MMM yyyy HH:mm")</td>
                }
                else
                {
                    <td>Not yet determined</td>
                }
            </tr>
        }
    </table>

