@model  Mooshak2_Hopur5.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "All users";
}

<div class="well m-60">
    <h2>@ViewBag.Title</h2>
    <table class="table  table-striped">
        <thead>
            <tr>
                <th>User name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        @foreach (var user in Model.AllUsers)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                @if (user.Roles.First().RoleId.Equals("1"))
                {
                    <td>Admin</td>
                }
                @if (user.Roles.First().RoleId.Equals("2"))
                {
                    <td>Teacher</td>
                }
                @if (user.Roles.First().RoleId.Equals("3"))
                {
                    <td>Student</td>
                }
            </tr>
        }
    </table>
</div>