@model  Mooshak2_Hopur5.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "All users";
}

<h2>@ViewBag.Title</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
    </thead>
    @foreach (var user in Model.AllUsers)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Roles.First().RoleId</td>
        </tr>
    }
</table>