@model  Mooshak2_Hopur5.Models.ViewModels.SemesterViewModel
@{
    ViewBag.Title = "GetAllSemesters";
}
<div class="col-md-12">
    <table class="table beigeTable">
        <caption><span class="glyphicon glyphicon-tasks"></span>All semesters</caption>
        @foreach (var semester in Model.SemesterList)
        {
            string semesterTime = semester.DateFrom.Date.ToShortDateString() + " - " + semester.DateTo.Date.ToShortDateString();
            <tr>
                <td>
                    @Html.ActionLink(semester.SemesterName, "ViewSemester", "Semester", new { id = semester.SemesterId }, null)
                </td>
                <td>
                    @semesterTime    
                </td>
            </tr>
        }
    </table>
</div>