@model  Mooshak2_Hopur5.Models.ViewModels.SemesterViewModel
@{
    ViewBag.Title = "GetAllSemesters";
}

<h2>All Semesters</h2>



<ul class="list-group">
    @foreach (var semester in Model.SemesterList)
    {
        string semesterName = semester.SemesterName  + " " +  semester.DateFrom.Date.ToShortDateString() + " - " + semester.DateTo.Date.ToShortDateString();
        <li class="list-group-item">@Html.ActionLink(semesterName, "ViewSemester", "Semester", new { id = semester.SemesterId }, null)</li>    
    }
</ul>