@model  Mooshak2_Hopur5.Models.ViewModels.SemesterViewModel
@{
    ViewBag.Title = "GetAllSemesters";
}
<div class="col-md-12 m-60">
    <table class="table assignmentTable">
        <caption><span class="glyphicon glyphicon-tasks m-10"></span>All semesters</caption>
        @foreach (var semester in Model.SemesterList)
        {
            string sSemesterTime = semester.DateFrom.Date.ToString("d.MMM yyyy") + " - " + semester.DateTo.Date.ToString("d.MMM yyyy");
            <tr>
                <td>
                    @Html.ActionLink(semester.SemesterName, "ViewSemester", "Semester", new { id = semester.SemesterId }, null)
                </td>
                <td>
                    @sSemesterTime    
                </td>
            </tr>
        }
    </table>
</div>