@model  Mooshak2_Hopur5.Models.ViewModels.AnnouncementViewModel

@{
    ViewBag.Title = "Add Announcement";
}

<h2>Add Announcement</h2>

@using (Html.BeginForm("AddAnnouncement", "Announcement", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
<div class="form-group">
    @Html.ValidationMessageFor(m => m.Announcement)
    @Html.TextAreaFor(m => m.Announcement, new { htmlAttributes = new { @class = "form-control", id = "announcement" } })
</div>
<div>
    <button type="submit" class="btn btn-announcement">Submit</button>
</div>
}

   
     
      