@model  Mooshak2_Hopur5.Models.ViewModels.AnnouncementViewModel
@{
    ViewBag.Title = "GetAllAnnouncements";
}

<h2>All announcements</h2>

<div class="col-md-5">

    <ul class="list-group">
        @foreach (var announcement in Model.AnnouncementList)
            {
            <li class="list-group-item">
                <div class="comment more">
                    @Html.Raw(announcement.Announcement)
                </div>
            </li>
        }
    </ul>
</div>