@model  Mooshak2_Hopur5.Models.ViewModels.AnnouncementViewModel
@{
    ViewBag.Title = "GetAnnouncement";
}

<h2>GetAnnouncement</h2>
<p>Dags: @Model.DateCreate</p>
<p>Tilkynning: @Model.Announcement</p>

