@model  Mooshak2_Hopur5.Models.ViewModels.AnnouncementViewModel
@{
    ViewBag.Title = "GetAllAnnouncements";
}

<div class="col-md-12">
    <table class="table announcementTable m-60">
        <caption><span class="glyphicon glyphicon-info-sign"></span>All announcements</caption>
        @foreach (var announcement in Model.AnnouncementList)
        {
            <tr>
                <td>
                    @announcement.DateCreate.Date.ToShortDateString()
                </td>
                <td class="more">
                    @Html.Raw(announcement.Announcement)
                </td>
            </tr>
        }
    </table>

</div>