@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Add users to course";
}

<h2>Add user to course</h2>

@using (Html.BeginForm("AddUsersToCourse", "Course", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    
    <div class="form-group">
        @Html.LabelFor(m => m.UserList, new { @class = "control-label" })
        @Html.ValidationMessageFor(m => m.UserList)
        @Html.ListBoxFor(m => m.UserList, (Model.UsersSelect as SelectList), new { @class = "form-control", data_placeholder = "Agent(s)." })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}