@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "GetAllCourse";
}

<table class="table courseTable m-60">
    <caption><span class="glyphicon glyphicon-book m-10"></span>All courses</caption>
    @foreach (var course in Model.CourseList)
    {
        string courseName = course.CourseNumber + "-" + course.CourseName;
        <tr>
            <td>
                @Html.ActionLink(courseName+" ("+ course.SemesterName+")", "ViewCourse", "Course", new { id = course.CourseId }, null)
            </td>
            <td>
                @Html.ActionLink("All assignments", "ViewCourse", "Course", new { id = course.CourseId }, htmlAttributes: new { @class = "btn btn-course" })
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                @Html.ActionLink("Edit course", "EditCourse", "Course", new { id = course.CourseId }, htmlAttributes: new { @class = "btn btn-course" })
            </td>            
            <td>
                @Html.ActionLink("Add users", "AddUsersToCourse", "Course", new { id = course.CourseId }, htmlAttributes: new { @class = "btn btn-course" })
            </td>
            }
        </tr>
    }
</table>