@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "GetAllCourse";
}

<h2>This semester</h2>
@foreach (var course in Model.CourseList)
{
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">Nafn: @course.CourseName <br /> Númer: @course.CourseNumber </li>
        </ul>
    </div>
}
