@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "My Courses";
}

<h2>My Courses</h2>
<ul class="list-group">
    @foreach (var course in Model.CourseList)
    {
        string courseName = course.CourseNumber + "-" + course.CourseName;
        <li class="list-group-item">@Html.ActionLink(courseName, "ViewCourse", "Course", new { id = course.CourseId }, null)</li>
    }
</ul>
