@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Course";

}

<h2>@Model.CourseNumber - @Model.CourseName</h2>
@Html.ActionLink("Create new assignment", "AddAssignment", "Assignment", new { id = Model.CourseId }, new { @class = "btn btn-primary" })
