@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Course";

}

<h2>@Model.CourseNumber - @Model.CourseName</h2>
<button type="button" class="btn btn-primary">Create new assignment</button>
