@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel
@{
    Layout = null;
}
<div class="dropdown-content">
    @foreach (var course in Model.CourseList)
    {
        string courseName = course.CourseNumber + "-" + course.CourseName;
        @Html.ActionLink(courseName, "ViewCourse", "Course", new { id = course.CourseId }, null)
    }
</div>
